.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    display: inline;
    border: 2px solid white;
    border-radius: 100%;
    background-size: cover;
}

.dropdown-toggle{
   color: white;
   
}
  
.dropdown-item {
    color: white;  
}

.navbar-brand {
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;;
}